version: '3'

services:
  database-host:
    container_name: database-host
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - $PWD/database:/var/lib/mysql
    ports:
      - '3306:3306'
    networks:
      - net

  backend-app:
    container_name: backend-app
    build: .
    ports:
      - '5000:5000'
    expose:
      - 5000
    volumes:
      - $PWD:/app
    networks:
      - net
    command: /bin/bash -c "chmod +x /app/utilities/scripts/execute_migration.sh && /app/utilities/scripts/execute_migration.sh"

networks:
  net:
    driver: bridge
